.observed {
  position: fixed;
  width: 585px;
  bottom: 120px;
  margin-left: -292.5px;
  left: 50%;
  height: 72px;
  display: flex;
  flex-direction: column;
  color: var(--white-full);
  background: rgba(39, 39, 39, 0.8);
  border-radius: 12px 12px 0 0;

  .main_row, .stats_row {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    height: 35px;
  }

  .stats_row {
    height: 37px;
    justify-content: space-between;

    .stats_cell {
      height: 100%;
      width: 56px;
      display: flex;
      flex-direction: column;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);

      .label {
        height: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        color: #b2b2b2;
      }

      .stat {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .weapon.grenade {
      height: auto;
      width: 28px;
    }

    .ammo {
      height: 100%;
      display: flex;
      flex-basis: 175px;

      .ammo_counter {
        display: flex;
        font-size: 18px;
        font-weight: 600;

        > div {
          display: flex;
          align-items: center;
        }

        .ammo_clip {
          justify-content: flex-end;
          min-width: 36px;
        }

        .ammo_reserve {
          justify-content: flex-start;
          min-width: 36px;
        }
      }

      .ammo_icon_container {
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
        justify-content: center;
        padding-left: 4px;
        padding-right: 4px;

        svg {
          height: auto;
          width: 100%;
          max-width: unset;
          fill: var(--white-full);
        }
      }
    }

    .grenade_container {
      height: 100%;
      display: flex;
      align-items: center;
      //flex-basis: 175px;
      justify-content: flex-start;
      padding-left: 22px;
    }

    .armor_indicator, .defuse_indicator {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 10px;
      padding-right: 10px;

      svg {
        fill: var(--white-full);
        height: 28px;
        width: auto;
      }
    }
  }

  .main_row {
    border-radius: 12px 12px 0 0;
    font-weight: 600;
    background: linear-gradient(0deg, #272727, #272727), linear-gradient(176.64deg, #464646 0%, #272727 100%);
    justify-content: space-between;

    .username_container {
      height: 100%;
      flex-basis: 167px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;

      .real_name {
        font-size: 7pt;
        color: rgba(255, 255, 255, 0.5);
      }
    }

    .health_armor_container {
      flex-basis: 175px;
      display: flex;
      justify-content: flex-end;

      .info-group {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 4px;
        margin-right: 4px;
      }

      .text {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-weight: 700;
        font-size: 22px;
        height: 100%;
        min-width: 41px;
      }

      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 26px;

        svg {
          height: auto;
          width: 20px;
        }
      }
    }
  }

  .sidebar {
    width: 10px;
    height: 100%;
    position: absolute;

    &:first-child {
      left: -10px;
    }

    &:last-child {
      right: -10px;
    }
  }

  .flag {
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 43px;
    }
  }

  .avatar {
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    flex-grow: 1;
    height: 175px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    pointer-events: none;

    img {
    }
  }

  &.T {
    .sidebar {
      background-color: var(--color-new-t)
    }

    .stats_row .statistics .stat .label {
      color: var(--color-new-t);
      margin-right: 2px;
    }

    .stats_row .health_armor_container .icon, .stats_row .ammo .ammo_icon_container {
      svg {
        fill: var(--color-new-t);
      }
    }

    .ammo_reserve {
      background: linear-gradient(107.72deg, #FFC000 0%, #FF4B00 100%), #FFFFFF;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }

    .avatar {
      background-image: url("../../assets/images/sprite_t.png");
    }
  }

  &.CT {
    .sidebar {
      background-color: var(--color-new-ct)
    }

    .stats_row .statistics .stat .label {
      color: var(--color-new-ct);
      margin-right: 2px;
    }

    .stats_row .health_armor_container .icon, .stats_row .ammo .ammo_icon_container {
      svg {
        fill: var(--color-new-ct);
      }
    }

    .ammo_reserve {
      background: linear-gradient(103.01deg, #00A3FF 7.46%, #0075FF 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }

    .avatar {
      background-image: url("../../assets/images/sprite_ct.png");
    }
  }
}

#cameraFeed {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
  transform: scale(0.94);
  left: 0px;
  bottom: 0;
  transform-origin: bottom left;

  iframe {
    position: relative;
    border: none;
    width: 750px;
    height: 300px;
  }
}