.teambox {
  position: fixed;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  opacity: 1;
  transition: opacity 0.75s;

  &.CT {
    .player .hp_bar {
      background-color: var(--color-new-ct);
    }
  }

  &.T {
    .player .hp_bar {
      background-color: var(--color-new-t);
    }
  }

  &.hide {
    opacity: 0;
  }

  &.left {
    left: 20px;

    .player {
      .row {
        flex-direction: row;
        padding-left: 88px;

        &:first-child {
          padding-left: 98px;
        }

        .armor_and_utility {
          justify-content: flex-start;
        }

        .secondary_weapon {
          padding-right: 10px;
        }
      }

      .player_data {
        border-top-right-radius: 12px;
        overflow: hidden;
      }

      &.dead {
        .player_data {
          background-image: url("../../assets/images/dead_bg_left.png");
        }
      }
    }

    &.T {
      .player .hp_bar {
        background: linear-gradient(90deg, #FF9900 0%, #FFC000 100%);
      }
    }

    &.CT {
      .player .hp_bar {
        background: linear-gradient(90deg, #0075FF 0%, #00A3FF 100%);
      }
    }
  }

  &.right {
    right: 20px;

    .player {
      flex-direction: row-reverse;

      .row {
        padding-right: 88px;
      }

      .player_data {
        border-top-left-radius: 12px;
        flex-direction: row-reverse;
        overflow: hidden;

        .hp_bar {
          align-self: flex-end;
        }

        .avatar {
          justify-content: center;
        }

        .player_stats {
          .row {
            flex-direction: row-reverse;
            padding-left: 10px;


            &:nth-child(1) {
              padding-right: 98px;
            }

            &:nth-child(2) {
              padding-right: 98px;
            }

            .observer_slot {
              left: unset;
              right: 6px;
            }

            .health {
              flex-flow: row-reverse nowrap;
            }

            .grenades {
            }

            .secondary_weapon {
              padding-left: 10px;
            }

            .armor_and_utility {
              justify-content: flex-end;
            }

            .weapon {
              transform: scaleX(-1);
            }

            .username {
              justify-content: flex-end;
            }

            &__inner {
              &:nth-child(1) {
                flex-flow: row-reverse nowrap;
                padding-right: 0;
              }

              &:nth-child(2) {
                flex-flow: row-reverse nowrap;
                padding-right: 0;

                .utils_container {
                  margin-right: auto;
                  margin-left: 0;
                }

                .grenades {
                  justify-content: flex-start;
                }
              }
            }
          }
        }
      }

      .hp_bar {
        left: unset;
        right: 0;
      }

      &.dead {
        .player_data {
          background-image: url("../../assets/images/dead_bg_right.png");
        }
      }
    }

    &.T {
      .player .hp_bar {
        background: linear-gradient(270deg, #FF9900 0%, #FFC000 100%);
      }
    }

    &.CT {
      .player .hp_bar {
        background: linear-gradient(270deg, #0075FF 0%, #00A3FF 100%);
      }
    }

  }

  .player {
    width: 645px;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;

    &.active {
      .player_data {
        background: rgba(39, 39, 39, 0.4);

        .player_stats {
          .row {
            .observer_slot {
              background-color: transparentize(white, 0.6)
            }
          }
        }
      }
    }

    &.dead {

      .player_side_bar {
        background-color: var(--main-panel-color) !important;
      }

      .player_data {
        background-color: unset;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 100% 100%;

        .avatar {
          filter: grayscale(100%);
        }

        .player_stats {
          .row {
            .health {
              display: none;
            }

            .stats-block {
              &--item {
                span {
                  &:nth-child(2) {
                    background: linear-gradient(126.3deg, #FF5454 0%, #D53232 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                  }
                }
              }
            }
          }
        }
      }

    }

    .player_side_bar {
      width: 10px;
      height: 70px;

      &.CT {
        background-color: var(--color-new-ct);
      }

      &.T {
        background-color: var(--color-new-t);
      }
    }

    .player_data {
      background: rgba(39, 39, 39, 0.8);
      width: 350px;
      display: flex;
      flex-direction: row;
      position: relative;
      height: 100%;

      .player_stats {
        display: flex;
        flex-direction: column;
        min-width: 0;
        width: 100%;

        .hp_bar {
          height: 2px;
          z-index: 2;

          &.low {
            background-color: red;
          }

          &__recent {
            z-index: 1;
            background: unset;
            background-color: #FF5E3A;
            transition: width .6s ease;
          }
        }

        .row {
          display: flex;
          position: relative;

          &:first-child {
            height: 25px;
            padding-right: 10px;
          }

          &:last-child {
            height: 45px;
            display: flex;
            flex-flow: column nowrap;
          }

          .weapon-container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80px;
            height: 20px;

            svg {
              width: 100%;
              height: auto;
            }
          }

          .observer_slot {
            position: absolute;
            bottom: 4px;
            left: 6px;
            font-weight: 700;
            font-size: 14px;
            color: var(--white-full);
            z-index: 3;
            width: 16px;
            height: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
          }

          svg.weapon {
            filter: invert(45%);

            &.active {
              filter: invert(0);
            }
          }

          .hp_background, .hp_background_2 {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 0;
          }

          .hp_background_2 {
            background-color: var(--color-bomb);
            transition: width 0.75s 1.5s;
          }

          .armor_and_utility {
            width: 39px;
            display: flex;
            align-items: center;
            padding-left: 5px;
            padding-right: 5px;

            .armor_indicator, .bomb_indicator, .defuse_indicator {
              svg {
                max-height: 20px;
                fill: white;
              }
            }

            div {
              display: flex;
              width: 50%;
            }
          }

          .username {
            flex: 1;
            display: flex;
            align-items: center;
            z-index: 3;
            color: white;
            font-weight: 600;
            max-width: calc(100% - 49px);
            justify-content: space-between;
            overflow: hidden;
            font-size: 18px;
            text-overflow: ellipsis;
            white-space: nowrap;

            div span {
              opacity: 0.6;
              font-size: 15px;
            }

            svg.weapon {
              max-height: 20px;
              width: auto;
              margin-left: 5px;
              margin-right: 5px;
              max-width: 100px;
              height: 30px;
            }
          }

          .money {
            color: var(--white-full);
            font-weight: 400;
            font-size: 18px;
            text-align: center;
            align-self: flex-end;
          }

          .grenades {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex-basis: 90px;

            svg.grenade {
              max-height: 18px;
              height: 18px;
              width: auto;
            }


          }

          .health {
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 3;
            color: white;
            font-weight: 600;
            font-size: 18px;
          }

          .secondary_weapon {
            display: flex;
            align-items: center;

            svg {
              max-height: 30px;
              height: 30px;
            }
          }

          .hp_bar {
            position: absolute;
            height: 100%;
          }

          .roundkills-container {
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--white-full);
            font-weight: 700;
            font-size: 18px;

            svg {
              fill: var(--white-full);
              margin-right: 2px;
              min-width: 20px;
            }

            span {
              flex-basis: 24px;
            }
          }

          &__inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex: 1;
            padding-right: 8px;
            padding-left: 8px;

            &:nth-child(1) {
              padding-top: 2px;
            }

            &:nth-child(2) {
              padding-bottom: 4px;

              .utils_container {
                margin-left: auto;
                display: flex;
                align-items: center;
                justify-content: center;

                .defuse_indicator, .armor_indicator {
                  width: 18px;
                  height: 18px;
                  display: flex;
                  align-items: center;
                  justify-content: center;


                  svg {
                    width: 100%;
                    height: auto;
                    fill: var(--white-full);
                  }
                }
              }
            }
          }
        }
      }

      .avatar {
        width: 80px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        position: absolute;
        bottom: 0;

        .videofeed {
          width: 70px;
          height: 70px;
          position: absolute;
          display: flex;
          justify-content: center;

          video {
            height: 70px;
            position: absolute;
          }
        }

        img {
          width: auto;
          height: 100%;
          display: block;
          z-index: 3;
        }
      }
    }

    .hp_wrapper {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
    }

    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }

  .stats-block {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;

    span {
      &:nth-child(1) {
        font-weight: 400;
        font-size: 10px;
        opacity: .8;
        color: var(--white-full);
        margin-right: 1px;
      }

      &:nth-child(2) {
        font-size: 13px;
        background: linear-gradient(126.3deg, #D7FF83 0%, #7CDD1B 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        color: transparent;
      }
    }

    &--item {
      display: flex;
      flex-flow: row nowrap;
      align-items: baseline;

      &:not(:last-child) {
        margin-right: 4px;
      }
    }
  }

  .armor_indicator {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4px;
    margin-right: 4px;

    svg {
      width: 100%;
      height: auto;
    }
  }
}

.players_alive {
  display: flex;
  flex-direction: column;
  width: 240px;
  background: rgba(39, 39, 39, 0.4);
  position: fixed;
  right: 40px;
  top: 20px;
  opacity: 1;
  transition: opacity 1s;
  border-radius: 0 0 8px 8px;

  .counter_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 47px;

    > div {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 40px;
      line-height: 36px;
      font-weight: 700;
      color: var(--white-full);

      &:nth-child(2) {
        margin-left: 15px;
        margin-right: 15px;
        font-size: 20px;
        line-height: 18px;
        font-weight: 400;
      }
    }

    .team_counter {
      &.T {
        background: linear-gradient(146.31deg, #FFC000 26.67%, #FF4B00 80%), #FFFFFF;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        color: transparent;
      }

      &.CT {
        background: linear-gradient(146.31deg, #00A3FF 15%, #0075FF 83.33%), #FFFFFF;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        color: transparent;
      }
    }
  }

  .title_container {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 14px;
    min-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #272727;
  }

  &.hide {
    opacity: 0;
  }
}
